In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/employees.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
First Name           933 non-null object
Gender               855 non-null object
Start Date           1000 non-null object
Last Login Time      1000 non-null object
Salary               1000 non-null int64
Bonus %              1000 non-null float64
Senior Management    933 non-null object
Team                 957 non-null object
dtypes: float64(1), int64(1), object(6)
memory usage: 62.6+ KB

In [4]:
df['Start Date'].head(3)

0     8/6/1993
1    3/31/1996
2    4/23/1993
Name: Start Date, dtype: object

In [7]:
df['Start Date'] = pd.to_datetime(df['Start Date'])

In [8]:
df['Last Login Time'] = pd.to_datetime(df['Last Login Time'])

In [9]:
print(df['Last Login Time'].head(3))

0   2020-02-25 12:42:00
1   2020-02-25 06:53:00
2   2020-02-25 11:17:00
Name: Last Login Time, dtype: datetime64[ns]

In [10]:
df['Senior Management'] = df['Senior Management'].astype('bool')

In [12]:
df = pd.read_csv('data/employees.csv')
df['Start Date'] = pd.to_datetime(df['Start Date'])
df['Last Login Time'] = pd.to_datetime(df['Last Login Time'])
df['Senior Management'] = df['Senior Management'].astype('bool')
df['Gender'] = df['Gender'].astype('category') # this saves memory space

In [14]:
print(df.head(3))

  First Name  Gender Start Date     Last Login Time  Salary  Bonus %  \
0    Douglas    Male 1993-08-06 2020-02-25 12:42:00   97308    6.945
1     Thomas    Male 1996-03-31 2020-02-25 06:53:00   61933    4.170
2      Maria  Female 1993-04-23 2020-02-25 11:17:00  130590   11.858

   Senior Management       Team
0               True  Marketing
1               True        NaN
2              False    Finance

In [30]:
print(df[df['Gender'] == 'Male'].head(5)) # this will extract only the roles with male as gender

  First Name Gender Start Date     Last Login Time  Salary  Bonus %  \
0    Douglas   Male 1993-08-06 2020-02-25 12:42:00   97308    6.945
1     Thomas   Male 1996-03-31 2020-02-25 06:53:00   61933    4.170
3      Jerry   Male 2005-03-04 2020-02-25 13:00:00  138705    9.340
4      Larry   Male 1998-01-24 2020-02-25 16:47:00  101004    1.389
5     Dennis   Male 1987-04-18 2020-02-25 01:35:00  115163   10.125

   Senior Management             Team
0               True        Marketing
1               True              NaN
3               True          Finance
4               True  Client Services
5              False            Legal

In [19]:
mask = df['Team'] == 'Finance'
print(df[mask].head(3))

  First Name  Gender Start Date     Last Login Time  Salary  Bonus %  \
2      Maria  Female 1993-04-23 2020-02-25 11:17:00  130590   11.858
3      Jerry    Male 2005-03-04 2020-02-25 13:00:00  138705    9.340
7        NaN  Female 2015-07-20 2020-02-25 10:43:00   45906   11.598

   Senior Management     Team
2              False  Finance
3               True  Finance
7               True  Finance

In [31]:
print(df[df['Senior Management']].head(3)) # since senior management is already a boolean series it will 
# automatically extract the series with this syntax

  First Name Gender Start Date     Last Login Time  Salary  Bonus %  \
0    Douglas   Male 1993-08-06 2020-02-25 12:42:00   97308    6.945
1     Thomas   Male 1996-03-31 2020-02-25 06:53:00   61933    4.170
3      Jerry   Male 2005-03-04 2020-02-25 13:00:00  138705    9.340

   Senior Management       Team
0               True  Marketing
1               True        NaN
3               True    Finance

In [32]:
print(df[df['Salary'] > 100000].head(5))

  First Name  Gender Start Date     Last Login Time  Salary  Bonus %  \
2      Maria  Female 1993-04-23 2020-02-25 11:17:00  130590   11.858
3      Jerry    Male 2005-03-04 2020-02-25 13:00:00  138705    9.340
4      Larry    Male 1998-01-24 2020-02-25 16:47:00  101004    1.389
5     Dennis    Male 1987-04-18 2020-02-25 01:35:00  115163   10.125
9    Frances  Female 2002-08-08 2020-02-25 06:51:00  139852    7.524

   Senior Management                  Team
2              False               Finance
3               True               Finance
4               True       Client Services
5              False                 Legal
9               True  Business Development

In [34]:
mask = df['Start Date'] <= '1985-01-01'
print(df[mask].head(5))

   First Name  Gender Start Date     Last Login Time  Salary  Bonus %  \
10     Louise  Female 1980-08-12 2020-02-25 09:01:00   63241   15.132
12    Brandon    Male 1980-12-01 2020-02-25 01:08:00  112807   17.492
18      Diana  Female 1981-10-23 2020-02-25 10:27:00  132940   19.082
28      Terry    Male 1981-11-27 2020-02-25 18:30:00  124008   13.464
37      Linda  Female 1981-10-19 2020-02-25 20:49:00   57427    9.557

    Senior Management             Team
10               True              NaN
12               True  Human Resources
18              False  Client Services
28               True  Client Services
37               True  Client Services

In [36]:
df = pd.read_csv('data/employees.csv', parse_dates=['Start Date', 'Last Login Time'])
df['Senior Management'] = df['Senior Management'].astype('bool')
df['Gender'] = df['Gender'].astype('category') # this saves memory space
print(df.head(5))

  First Name  Gender Start Date     Last Login Time  Salary  Bonus %  \
0    Douglas    Male 1993-08-06 2020-02-25 12:42:00   97308    6.945
1     Thomas    Male 1996-03-31 2020-02-25 06:53:00   61933    4.170
2      Maria  Female 1993-04-23 2020-02-25 11:17:00  130590   11.858
3      Jerry    Male 2005-03-04 2020-02-25 13:00:00  138705    9.340
4      Larry    Male 1998-01-24 2020-02-25 16:47:00  101004    1.389

   Senior Management             Team
0               True        Marketing
1               True              NaN
2              False          Finance
3               True          Finance
4               True  Client Services

In [43]:
mask1 = df['Gender'] == 'Male'
mask2 = df['Team'] == 'Marketing'
print(df[mask1 & mask2].head(5))

   First Name Gender Start Date     Last Login Time  Salary  Bonus %  \
0     Douglas   Male 1993-08-06 2020-02-25 12:42:00   97308    6.945
21    Matthew   Male 1995-09-05 2020-02-25 02:12:00  100612   13.645
26      Craig   Male 2000-02-27 2020-02-25 07:45:00   37598    7.757
74     Thomas   Male 1995-06-04 2020-02-25 14:24:00   62096   17.029
77    Charles   Male 2004-09-14 2020-02-25 20:13:00  107391    1.260

    Senior Management       Team
0                True  Marketing
21              False  Marketing
26               True  Marketing
74              False  Marketing
77               True  Marketing

In [44]:
mask1 = ['First Name'] == 'Robert'
mask2 = df['Team'] == 'Client Services'
mask3 = df['Start Date'] > '2016-06-01' # you must use these boolean series to filter these 
# rows from the dataframe

print(df[(mask1 & mask2) | mask3].head(5))

    First Name  Gender Start Date     Last Login Time  Salary  Bonus %  \
15     Lillian  Female 2016-06-05 2020-02-25 06:09:00   59414    1.256
98        Tina  Female 2016-06-16 2020-02-25 19:47:00  100705   16.961
451      Terry     NaN 2016-07-15 2020-02-25 00:29:00  140002   19.490

     Senior Management       Team
15               False    Product
98                True  Marketing
451               True  Marketing

In [45]:
df = pd.read_csv('data/employees.csv', parse_dates=['Start Date', 'Last Login Time'])
df['Senior Management'] = df['Senior Management'].astype('bool')
df['Gender'] = df['Gender'].astype('category') # this saves memory space
print(df.head(5))

  First Name  Gender Start Date     Last Login Time  Salary  Bonus %  \
0    Douglas    Male 1993-08-06 2020-02-25 12:42:00   97308    6.945
1     Thomas    Male 1996-03-31 2020-02-25 06:53:00   61933    4.170
2      Maria  Female 1993-04-23 2020-02-25 11:17:00  130590   11.858
3      Jerry    Male 2005-03-04 2020-02-25 13:00:00  138705    9.340
4      Larry    Male 1998-01-24 2020-02-25 16:47:00  101004    1.389

   Senior Management             Team
0               True        Marketing
1               True              NaN
2              False          Finance
3               True          Finance
4               True  Client Services

In [48]:
mask = df['Team'].isin(['Legal', 'Sales', 'Product'])
print(df[mask].head(5))

   First Name  Gender Start Date     Last Login Time  Salary  Bonus %  \
5      Dennis    Male 1987-04-18 2020-02-25 01:35:00  115163   10.125
6        Ruby  Female 1987-08-17 2020-02-25 16:20:00   65476   10.012
11      Julie  Female 1997-10-26 2020-02-25 15:19:00  102508   12.637
13       Gary    Male 2008-01-27 2020-02-25 23:40:00  109831    5.831
15    Lillian  Female 2016-06-05 2020-02-25 06:09:00   59414    1.256

    Senior Management     Team
5               False    Legal
6                True  Product
11               True    Legal
13              False    Sales
15              False  Product

In [49]:
df = pd.read_csv('data/employees.csv', parse_dates=['Start Date', 'Last Login Time'])
df['Senior Management'] = df['Senior Management'].astype('bool')
df['Gender'] = df['Gender'].astype('category') # this saves memory space
print(df.head(5))

  First Name  Gender Start Date     Last Login Time  Salary  Bonus %  \
0    Douglas    Male 1993-08-06 2020-02-25 12:42:00   97308    6.945
1     Thomas    Male 1996-03-31 2020-02-25 06:53:00   61933    4.170
2      Maria  Female 1993-04-23 2020-02-25 11:17:00  130590   11.858
3      Jerry    Male 2005-03-04 2020-02-25 13:00:00  138705    9.340
4      Larry    Male 1998-01-24 2020-02-25 16:47:00  101004    1.389

   Senior Management             Team
0               True        Marketing
1               True              NaN
2              False          Finance
3               True          Finance
4               True  Client Services

In [52]:
mask = df['Team'].isnull()
print(df[mask].head(5))

   First Name  Gender Start Date     Last Login Time  Salary  Bonus %  \
1      Thomas    Male 1996-03-31 2020-02-25 06:53:00   61933    4.170
10     Louise  Female 1980-08-12 2020-02-25 09:01:00   63241   15.132
23        NaN    Male 2012-06-14 2020-02-25 16:19:00  125792    5.042
32        NaN    Male 1998-08-21 2020-02-25 14:27:00  122340    6.417
91      James     NaN 2005-01-26 2020-02-25 23:00:00  128771    8.309

    Senior Management Team
1                True  NaN
10               True  NaN
23               True  NaN
32               True  NaN
91              False  NaN

In [53]:
mask = df['Gender'].notnull()
print(df[mask].head(3))

  First Name  Gender Start Date     Last Login Time  Salary  Bonus %  \
0    Douglas    Male 1993-08-06 2020-02-25 12:42:00   97308    6.945
1     Thomas    Male 1996-03-31 2020-02-25 06:53:00   61933    4.170
2      Maria  Female 1993-04-23 2020-02-25 11:17:00  130590   11.858

   Senior Management       Team
0               True  Marketing
1               True        NaN
2              False    Finance

In [54]:
df = pd.read_csv('data/employees.csv', parse_dates=['Start Date', 'Last Login Time'])
df['Senior Management'] = df['Senior Management'].astype('bool')
df['Gender'] = df['Gender'].astype('category') # this saves memory space

In [57]:
mask = df['Salary'].between(60000, 70000) #these values are inclusive
print(df[mask].head(5))

   First Name  Gender Start Date     Last Login Time  Salary  Bonus %  \
1      Thomas    Male 1996-03-31 2020-02-25 06:53:00   61933    4.170
6        Ruby  Female 1987-08-17 2020-02-25 16:20:00   65476   10.012
10     Louise  Female 1980-08-12 2020-02-25 09:01:00   63241   15.132
20       Lois     NaN 1995-04-22 2020-02-25 19:18:00   64714    4.934
41  Christine     NaN 2015-06-28 2020-02-25 01:08:00   66582   11.308

    Senior Management                  Team
1                True                   NaN
6                True               Product
10               True                   NaN
20               True                 Legal
41               True  Business Development

In [58]:
print(df[df['Last Login Time'].between('08:30AM', '12:00PM')].head(3))

   First Name  Gender Start Date     Last Login Time  Salary  Bonus %  \
2       Maria  Female 1993-04-23 2020-02-25 11:17:00  130590   11.858
7         NaN  Female 2015-07-20 2020-02-25 10:43:00   45906   11.598
10     Louise  Female 1980-08-12 2020-02-25 09:01:00   63241   15.132

    Senior Management     Team
2               False  Finance
7                True  Finance
10               True      NaN

In [60]:
df = pd.read_csv('data/employees.csv', parse_dates=['Start Date', 'Last Login Time'])
df['Senior Management'] = df['Senior Management'].astype('bool')
df['Gender'] = df['Gender'].astype('category') # this saves memory space
df.sort_values('First Name', inplace=True)
print(df.head(3))

    First Name Gender Start Date     Last Login Time  Salary  Bonus %  \
101      Aaron   Male 2012-02-17 2020-02-25 10:20:00   61602   11.849
327      Aaron   Male 1994-01-29 2020-02-25 18:48:00   58755    5.097
440      Aaron   Male 1990-07-22 2020-02-25 14:53:00   52119   11.343

     Senior Management             Team
101               True        Marketing
327               True        Marketing
440               True  Client Services

In [61]:
# By default duplicated has a paramater called "keep". it marks the first occurance of each value
# as a non duplicate. Keep can be set to "first" or "last"
df['First Name'].duplicated()

101    False
327     True
440     True
937     True
137    False
141     True
302     True
538     True
300    False
53      True
610     True
372    False
458     True
477     True
680     True
999     True
959     True
988    False
970     True
765     True
425     True
905     True
684     True
935     True
693     True
639    False
642     True
578     True
553     True
542     True
       ...
567     True
574     True
599     True
607     True
608     True
626     True
628     True
674     True
685     True
687     True
697     True
709     True
733     True
734     True
773     True
774     True
782     True
783     True
785     True
812     True
821     True
823     True
826     True
877     True
890     True
902     True
925     True
946     True
947     True
951     True
Name: First Name, Length: 1000, dtype: bool

In [64]:
print(df[df['First Name'].duplicated()].head(5))

    First Name Gender Start Date     Last Login Time  Salary  Bonus %  \
327      Aaron   Male 1994-01-29 2020-02-25 18:48:00   58755    5.097
440      Aaron   Male 1990-07-22 2020-02-25 14:53:00   52119   11.343
937      Aaron    NaN 1986-01-22 2020-02-25 19:39:00   63126   18.424
141       Adam   Male 1990-12-24 2020-02-25 20:57:00  110194   14.727
302       Adam   Male 2007-07-05 2020-02-25 11:59:00   71276    5.027

     Senior Management             Team
327               True        Marketing
440               True  Client Services
937              False  Client Services
141               True          Product
302               True  Human Resources

In [67]:
print(df[df['First Name'].duplicated(keep = False)].head(10)) 
# This will mark something if it is duplicate more than once.

    First Name Gender Start Date     Last Login Time  Salary  Bonus %  \
101      Aaron   Male 2012-02-17 2020-02-25 10:20:00   61602   11.849
327      Aaron   Male 1994-01-29 2020-02-25 18:48:00   58755    5.097
440      Aaron   Male 1990-07-22 2020-02-25 14:53:00   52119   11.343
937      Aaron    NaN 1986-01-22 2020-02-25 19:39:00   63126   18.424
137       Adam   Male 2011-05-21 2020-02-25 01:45:00   95327   15.120
141       Adam   Male 1990-12-24 2020-02-25 20:57:00  110194   14.727
302       Adam   Male 2007-07-05 2020-02-25 11:59:00   71276    5.027
538       Adam   Male 2010-10-08 2020-02-25 21:53:00   45181    3.491
300       Alan   Male 1988-06-26 2020-02-25 03:54:00  111786    3.592
53        Alan    NaN 2014-03-03 2020-02-25 13:28:00   40341   17.578

     Senior Management             Team
101               True        Marketing
327               True        Marketing
440               True  Client Services
937              False  Client Services
137              False     Distribution
141               True          Product
302               True  Human Resources
538              False  Human Resources
300               True      Engineering
53                True          Finance

In [69]:
print(~df['First Name'].duplicated(keep= False).head(5)) # the ~ negates it and changes the false to true

101    False
327    False
440    False
937    False
137    False
Name: First Name, dtype: bool

In [71]:
df = pd.read_csv('data/employees.csv', parse_dates=['Start Date', 'Last Login Time'])
df['Senior Management'] = df['Senior Management'].astype('bool')
df['Gender'] = df['Gender'].astype('category') # this saves memory space
df.sort_values('First Name', inplace=True)
print(df.head(5))

    First Name Gender Start Date     Last Login Time  Salary  Bonus %  \
101      Aaron   Male 2012-02-17 2020-02-25 10:20:00   61602   11.849
327      Aaron   Male 1994-01-29 2020-02-25 18:48:00   58755    5.097
440      Aaron   Male 1990-07-22 2020-02-25 14:53:00   52119   11.343
937      Aaron    NaN 1986-01-22 2020-02-25 19:39:00   63126   18.424
137       Adam   Male 2011-05-21 2020-02-25 01:45:00   95327   15.120

     Senior Management             Team
101               True        Marketing
327               True        Marketing
440               True  Client Services
937              False  Client Services
137              False     Distribution

In [72]:
len(df)

1000

In [77]:
print(df.drop_duplicates(subset=['First Name'], keep=False).head(10)) 
# subset is what columns to look in. Keep is the same as in duplicates
# by setting keep to false it will remove ALL occurances of the duplicates. 
# has the inplace parameter

    First Name  Gender Start Date     Last Login Time  Salary  Bonus %  \
8       Angela  Female 2005-11-22 2020-02-25 06:29:00   95570   18.523
688      Brian    Male 2007-04-07 2020-02-25 22:47:00   93901   17.821
190      Carol  Female 1996-03-19 2020-02-25 03:39:00   57783    9.129
887      David    Male 2009-12-05 2020-02-25 08:48:00   92242   15.407
5       Dennis    Male 1987-04-18 2020-02-25 01:35:00  115163   10.125
495     Eugene    Male 1984-05-24 2020-02-25 10:54:00   81077    2.117
33        Jean  Female 1993-12-18 2020-02-25 09:07:00  119082   16.180
832      Keith    Male 2003-02-12 2020-02-25 15:02:00  120672   19.467
291      Tammy  Female 1984-11-11 2020-02-25 10:30:00  132839   17.463

     Senior Management                  Team
8                 True           Engineering
688               True                 Legal
190              False               Finance
887              False                 Legal
5                False                 Legal
495              False                 Sales
33               False  Business Development
832              False                 Legal
291               True       Client Services

In [78]:
df = pd.read_csv('data/employees.csv', parse_dates=['Start Date', 'Last Login Time'])
df['Senior Management'] = df['Senior Management'].astype('bool')
df['Gender'] = df['Gender'].astype('category') # this saves memory space
print(df.head(5))

  First Name  Gender Start Date     Last Login Time  Salary  Bonus %  \
0    Douglas    Male 1993-08-06 2020-02-25 12:42:00   97308    6.945
1     Thomas    Male 1996-03-31 2020-02-25 06:53:00   61933    4.170
2      Maria  Female 1993-04-23 2020-02-25 11:17:00  130590   11.858
3      Jerry    Male 2005-03-04 2020-02-25 13:00:00  138705    9.340
4      Larry    Male 1998-01-24 2020-02-25 16:47:00  101004    1.389

   Senior Management             Team
0               True        Marketing
1               True              NaN
2              False          Finance
3               True          Finance
4               True  Client Services

In [79]:
df['Gender'].unique()

[Male, Female, NaN]
Categories (2, object): [Male, Female]

In [80]:
len(df['Team'].unique())

11

In [81]:
df['Team'].nunique() # nunique does not count null values. dropna is a parameter to change this

10

In [82]:
df['Team'].nunique(dropna=False)

11