In [4]:
import pandas as pd
nba = pd.read_csv("data/nba.csv")
print(nba.head(3))

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0

             College     Salary
0              Texas  7730337.0
1          Marquette  6796117.0
2  Boston University        NaN

In [9]:
# To extract the entire column just use the name. Extracting a single column give a series. 
# no double quotes required. Does not work 100% of the time
nba.Name
nba.Number
Output = None # Hides the output

In [11]:
# Extracts a single column. Works more often than the previous method.
nba['Name'].head(3)

0    Avery Bradley
1      Jae Crowder
2     John Holland
Name: Name, dtype: object

In [19]:
# Extract more than one column and store it in a list
print(nba[['Name', 'Team']].head(3))

            Name            Team
0  Avery Bradley  Boston Celtics
1    Jae Crowder  Boston Celtics
2   John Holland  Boston Celtics

In [22]:
select = ['Name', 'Team']
print(nba[select].head(3))

            Name            Team
0  Avery Bradley  Boston Celtics
1    Jae Crowder  Boston Celtics
2   John Holland  Boston Celtics

In [24]:
print(nba.head(3))

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0

             College     Salary
0              Texas  7730337.0
1          Marquette  6796117.0
2  Boston University        NaN

In [27]:
# Inserting a new column. If this column already exists it will overwrite the contents with the new data
# Can give a series and it will align it wil the column

nba["Sport"] = 'Basketball'
print(nba.head(4))

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0

             College     Salary       Sport
0              Texas  7730337.0  Basketball
1          Marquette  6796117.0  Basketball
2  Boston University        NaN  Basketball
3      Georgia State  1148640.0  Basketball

In [35]:
nba = pd.read_csv("data/nba.csv")

In [36]:
# The first paramater is loc which represents the index within the columns

nba.insert(3, column='Sport', value='Basketball')
print(nba.head(3))

            Name            Team  Number       Sport Position   Age Height  \
0  Avery Bradley  Boston Celtics     0.0  Basketball       PG  25.0    6-2
1    Jae Crowder  Boston Celtics    99.0  Basketball       SF  25.0    6-6
2   John Holland  Boston Celtics    30.0  Basketball       SG  27.0    6-5

   Weight            College     Salary
0   180.0              Texas  7730337.0
1   235.0          Marquette  6796117.0
2   205.0  Boston University        NaN

In [46]:
nba = pd.read_csv("data/nba.csv")

print(nba['Age'].head(3))

0    25.0
1    25.0
2    27.0
Name: Age, dtype: float64

In [47]:
# This applies the change to every value in that column of the dataframe
nba["Age"].add(5).head(3)

0    30.0
1    30.0
2    32.0
Name: Age, dtype: float64

In [49]:
# Or can add this way

print((nba["Age"] + 5).head(3))

0    30.0
1    30.0
2    32.0
Name: Age, dtype: float64

In [51]:
# can subtract using sub
print(nba["Age"].sub(5).head(3))

0    20.0
1    20.0
2    22.0
Name: Age, dtype: float64

In [52]:
print((nba['Age'] - 5).head(3))

0    20.0
1    20.0
2    22.0
Name: Age, dtype: float64

In [53]:
print((nba['Age'].mul(5)).head(3))

0    125.0
1    125.0
2    135.0
Name: Age, dtype: float64

In [55]:
print((nba['Age']* 5).head(3))

0    125.0
1    125.0
2    135.0
Name: Age, dtype: float64

In [56]:
# Can add a column using a series instead of a static value. This will save the value to the dataframe
nba['Mult Age'] = nba['Age'].mul(3)
print(nba.head(3))

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0

             College     Salary  Mult Age
0              Texas  7730337.0      75.0
1          Marquette  6796117.0      75.0
2  Boston University        NaN      81.0

In [58]:
print(nba['Age'].div(2).head(3))

0    12.5
1    12.5
2    13.5
Name: Age, dtype: float64

In [62]:
nba = pd.read_csv("data/nba.csv")
print(nba.head(3))

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0

             College     Salary
0              Texas  7730337.0
1          Marquette  6796117.0
2  Boston University        NaN

In [64]:
# use value counts to get the counts of values. Shows how many times each unique value occurs in the column
nba['Team'].value_counts().head(3)

New Orleans Pelicans    19
Memphis Grizzlies       18
New York Knicks         16
Name: Team, dtype: int64

In [66]:
nba = pd.read_csv("data/nba.csv")
print(nba.tail())

             Name       Team  Number Position   Age Height  Weight College  \
453  Shelvin Mack  Utah Jazz     8.0       PG  26.0    6-3   203.0  Butler
454     Raul Neto  Utah Jazz    25.0       PG  24.0    6-1   179.0     NaN
455  Tibor Pleiss  Utah Jazz    21.0        C  26.0    7-3   256.0     NaN
456   Jeff Withey  Utah Jazz    24.0        C  26.0    7-0   231.0  Kansas
457           NaN        NaN     NaN      NaN   NaN    NaN     NaN     NaN

        Salary
453  2433333.0
454   900000.0
455  2900000.0
456   947276.0
457        NaN

In [67]:
# dropna removes any rows from the dataframe that have any null values at all.
print(nba.dropna().tail())

              Name       Team  Number Position   Age Height  Weight   College  \
449    Rodney Hood  Utah Jazz     5.0       SG  23.0    6-8   206.0      Duke
451  Chris Johnson  Utah Jazz    23.0       SF  26.0    6-6   206.0    Dayton
452     Trey Lyles  Utah Jazz    41.0       PF  20.0   6-10   234.0  Kentucky
453   Shelvin Mack  Utah Jazz     8.0       PG  26.0    6-3   203.0    Butler
456    Jeff Withey  Utah Jazz    24.0        C  26.0    7-0   231.0    Kansas

        Salary
449  1348440.0
451   981348.0
452  2239800.0
453  2433333.0
456   947276.0

In [71]:
# this will only drop the row if all the values in the row are null
print(nba.dropna(how='all').tail())

             Name       Team  Number Position   Age Height  Weight   College  \
452    Trey Lyles  Utah Jazz    41.0       PF  20.0   6-10   234.0  Kentucky
453  Shelvin Mack  Utah Jazz     8.0       PG  26.0    6-3   203.0    Butler
454     Raul Neto  Utah Jazz    25.0       PG  24.0    6-1   179.0       NaN
455  Tibor Pleiss  Utah Jazz    21.0        C  26.0    7-3   256.0       NaN
456   Jeff Withey  Utah Jazz    24.0        C  26.0    7-0   231.0    Kansas

        Salary
452  2239800.0
453  2433333.0
454   900000.0
455  2900000.0
456   947276.0

In [72]:
print(nba.tail())
# This will save the drop to the existing dataframe
#print(nba.dropna(how='all', inplace=True))

             Name       Team  Number Position   Age Height  Weight   College  \
452    Trey Lyles  Utah Jazz    41.0       PF  20.0   6-10   234.0  Kentucky
453  Shelvin Mack  Utah Jazz     8.0       PG  26.0    6-3   203.0    Butler
454     Raul Neto  Utah Jazz    25.0       PG  24.0    6-1   179.0       NaN
455  Tibor Pleiss  Utah Jazz    21.0        C  26.0    7-3   256.0       NaN
456   Jeff Withey  Utah Jazz    24.0        C  26.0    7-0   231.0    Kansas

        Salary
452  2239800.0
453  2433333.0
454   900000.0
455  2900000.0
456   947276.0

In [74]:
# Removes columns with any null values. 

print(nba.dropna(axis=1).head(3))

            Name            Team  Number Position   Age Height  Weight
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0

In [76]:
# This removes null values only in the salary column. Note that john holland is gone
print(nba.dropna(subset=['Salary']).head(3))

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0

         College     Salary
0          Texas  7730337.0
1      Marquette  6796117.0
3  Georgia State  1148640.0

In [84]:
nba = pd.read_csv("data/nba.csv")
print(nba.head(3))

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0

             College     Salary
0              Texas  7730337.0
1          Marquette  6796117.0
2  Boston University        NaN

In [85]:
# How to fill NaN's will specific values. 

print(nba.fillna(0).head(5))

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0

             College     Salary
0              Texas  7730337.0
1          Marquette  6796117.0
2  Boston University        0.0
3      Georgia State  1148640.0
4                  0  5000000.0

In [89]:
# call fill na on the series instead of the whole df to account for different data types. 
# inplace makes the change permenant

nba['Salary'].fillna(0, inplace=True)
print(nba.head(5))

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0

             College     Salary
0              Texas  7730337.0
1          Marquette  6796117.0
2  Boston University        0.0
3      Georgia State  1148640.0
4                NaN  5000000.0

In [90]:
nba['College'].fillna('No College', inplace=True)
print(nba.head(5))

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0

             College     Salary
0              Texas  7730337.0
1          Marquette  6796117.0
2  Boston University        0.0
3      Georgia State  1148640.0
4         No College  5000000.0

In [103]:
nba = pd.read_csv("data/nba.csv").dropna(how='all')
print(nba.head(6))
nba["Salary"].fillna(0, inplace=True)
nba['College'].fillna('None', inplace= True)
print(nba.head(6))

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
5   Amir Johnson  Boston Celtics    90.0       PF  29.0    6-9   240.0

             College      Salary
0              Texas   7730337.0
1          Marquette   6796117.0
2  Boston University         NaN
3      Georgia State   1148640.0
4                NaN   5000000.0
5                NaN  12000000.0
            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
5   Amir Johnson  Boston Celtics    90.0       PF  29.0    6-9   240.0

             College      Salary
0              Texas   7730337.0
1          Marquette   6796117.0
2  Boston University         0.0
3      Georgia State   1148640.0
4               None   5000000.0
5               None  12000000.0

In [104]:
# When pandas sees an int column with null values it imports all the values as floats. 
# use astype to change back to int

nba["Salary"] = nba['Salary'].astype('int').head(5)
print(nba['Salary'].head(5))

0    7730337.0
1    6796117.0
2          0.0
3    1148640.0
4    5000000.0
Name: Salary, dtype: float64

In [106]:
nba['Number'] = nba['Number'].astype('int')
nba['Age'] = nba['Age'].astype('int')
print(nba.head(5))

            Name            Team  Number Position  Age Height  Weight  \
0  Avery Bradley  Boston Celtics       0       PG   25    6-2   180.0
1    Jae Crowder  Boston Celtics      99       SF   25    6-6   235.0
2   John Holland  Boston Celtics      30       SG   27    6-5   205.0
3    R.J. Hunter  Boston Celtics      28       SG   22    6-5   185.0
4  Jonas Jerebko  Boston Celtics       8       PF   29   6-10   231.0

             College     Salary
0              Texas  7730337.0
1          Marquette  6796117.0
2  Boston University        0.0
3      Georgia State  1148640.0
4               None  5000000.0

In [107]:
# category is for when you have a small number of unique values in a df. reduces mem usage.
# points every cell wit the same data to a single object

print(nba['Position'].nunique())

5

In [109]:
nba['Position'] = nba['Position'].astype('category')
print(nba['Position'].head(5))

0    PG
1    SF
2    SG
3    SG
4    PF
Name: Position, dtype: category
Categories (5, object): [C, PF, PG, SF, SG]

In [110]:
nba = pd.read_csv("data/nba.csv")
print(nba.head(3))

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0

             College     Salary
0              Texas  7730337.0
1          Marquette  6796117.0
2  Boston University        NaN

In [116]:
print(nba.sort_values('Name').head(5))
print(nba.sort_values('Name', ascending=False).head(5)) # prints reverse order
# If you have null values it will sort those at the end.
print(nba.sort_values('Salary').tail(5))
print(nba.sort_values('Salary', na_position='first').head(5))

               Name                    Team  Number Position   Age Height  \
152    Aaron Brooks           Chicago Bulls     0.0       PG  31.0    6-0
356    Aaron Gordon           Orlando Magic     0.0       PF  20.0    6-9
328  Aaron Harrison       Charlotte Hornets     9.0       SG  21.0    6-6
404   Adreian Payne  Minnesota Timberwolves    33.0       PF  25.0   6-10
312      Al Horford           Atlanta Hawks    15.0        C  30.0   6-10

     Weight         College      Salary
152   161.0          Oregon   2250000.0
356   220.0         Arizona   4171680.0
328   210.0        Kentucky    525093.0
404   237.0  Michigan State   1938840.0
312   245.0         Florida  12000000.0
                Name                    Team  Number Position   Age Height  \
237    Zaza Pachulia        Dallas Mavericks    27.0        C  32.0   6-11
271    Zach Randolph       Memphis Grizzlies    50.0       PF  34.0    6-9
402      Zach LaVine  Minnesota Timberwolves     8.0       PG  21.0    6-5
270   Xavier Munford       Memphis Grizzlies    14.0       PG  24.0    6-3
386  Wilson Chandler          Denver Nuggets    21.0       SF  29.0    6-8

     Weight         College      Salary
237   275.0             NaN   5200000.0
271   260.0  Michigan State   9638555.0
402   189.0            UCLA   2148360.0
270   180.0    Rhode Island         NaN
386   225.0          DePaul  10449438.0
              Name                    Team  Number Position   Age Height  \
350  Briante Weber              Miami Heat    12.0       PG  23.0    6-2
353  Dorell Wright              Miami Heat    11.0       SF  30.0    6-9
397   Axel Toupane          Denver Nuggets     6.0       SG  23.0    6-7
409     Greg Smith  Minnesota Timberwolves     4.0       PF  25.0   6-10
457            NaN                     NaN     NaN      NaN   NaN    NaN

     Weight                College  Salary
350   165.0  Virginia Commonwealth     NaN
353   205.0                    NaN     NaN
397   210.0                    NaN     NaN
409   250.0           Fresno State     NaN
457     NaN                    NaN     NaN
              Name                 Team  Number Position   Age Height  Weight  \
2     John Holland       Boston Celtics    30.0       SG  27.0    6-5   205.0
46     Elton Brand   Philadelphia 76ers    42.0       PF  37.0    6-9   254.0
171  Dahntay Jones  Cleveland Cavaliers    30.0       SG  35.0    6-6   225.0
264  Jordan Farmar    Memphis Grizzlies     4.0       PG  29.0    6-2   180.0
269   Ray McCallum    Memphis Grizzlies     5.0       PG  24.0    6-3   190.0

               College  Salary
2    Boston University     NaN
46                Duke     NaN
171               Duke     NaN
264               UCLA     NaN
269            Detroit     NaN

In [117]:
nba = pd.read_csv("data/nba.csv")

In [120]:
print(nba.sort_values(['Team', 'Name']).head(5)) # sorts the team first then the name column

                Name           Team  Number Position   Age Height  Weight  \
312       Al Horford  Atlanta Hawks    15.0        C  30.0   6-10   245.0
318  Dennis Schroder  Atlanta Hawks    17.0       PG  22.0    6-1   172.0
323      Jeff Teague  Atlanta Hawks     0.0       PG  27.0    6-2   186.0
309    Kent Bazemore  Atlanta Hawks    24.0       SF  26.0    6-5   201.0
311     Kirk Hinrich  Atlanta Hawks    12.0       SG  35.0    6-4   190.0

          College      Salary
312       Florida  12000000.0
318           NaN   1763400.0
323   Wake Forest   8000000.0
309  Old Dominion   2000000.0
311        Kansas   2854940.0

In [121]:
print(nba.sort_values(['Team', 'Name'], ascending=False).head(5))

                Name                Team  Number Position   Age Height  \
379   Ramon Sessions  Washington Wizards     7.0       PG  30.0    6-3
378  Otto Porter Jr.  Washington Wizards    22.0       SF  23.0    6-8
375     Nene Hilario  Washington Wizards    42.0        C  33.0   6-11
376  Markieff Morris  Washington Wizards     5.0       PF  26.0   6-10
381  Marcus Thornton  Washington Wizards    15.0       SF  29.0    6-4

     Weight     College      Salary
379   190.0      Nevada   2170465.0
378   198.0  Georgetown   4662960.0
375   250.0         NaN  13000000.0
376   245.0      Kansas   8000000.0
381   205.0         LSU    200600.0

In [123]:
# will apply each boolean in the ascending to each col. 
# Team will be sorted alphabetically and name in reverse order
# add inplace to make sure the change is applied
print(nba.sort_values(['Team', 'Name'], ascending=[True, False]).head(5))

                 Name           Team  Number Position   Age Height  Weight  \
322    Walter Tavares  Atlanta Hawks    22.0        C  24.0    7-3   260.0
310  Tim Hardaway Jr.  Atlanta Hawks    10.0       SG  24.0    6-6   205.0
321    Tiago Splitter  Atlanta Hawks    11.0        C  31.0   6-11   245.0
320   Thabo Sefolosha  Atlanta Hawks    25.0       SF  32.0    6-7   220.0
315      Paul Millsap  Atlanta Hawks     4.0       PF  31.0    6-8   246.0

            College      Salary
322             NaN   1000000.0
310        Michigan   1304520.0
321             NaN   9756250.0
320             NaN   4000000.0
315  Louisiana Tech  18671659.0

In [124]:
nba = pd.read_csv("data/nba.csv")

In [127]:
nba.sort_values(['Number', 'Salary', 'Name'], inplace=True)
print(nba.head(5))
# note that the original idexes are scrambled now

                 Name                  Team  Number Position   Age Height  \
291   Orlando Johnson  New Orleans Pelicans     0.0       SG  27.0    6-5
248  Andrew Goudelock       Houston Rockets     0.0       PG  27.0    6-3
347   Josh Richardson            Miami Heat     0.0       SG  22.0    6-6
266    JaMychal Green     Memphis Grizzlies     0.0       PF  25.0    6-9
47      Isaiah Canaan    Philadelphia 76ers     0.0       PG  25.0    6-0

     Weight           College    Salary
291   220.0  UC Santa Barbara   55722.0
248   200.0        Charleston  200600.0
347   200.0         Tennessee  525093.0
266   227.0           Alabama  845059.0
47    201.0      Murray State  947276.0

In [129]:
# resets the df to the original order based on the original indexes
nba.sort_index(inplace=True)
print(nba.head(5))

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0

             College     Salary
0              Texas  7730337.0
1          Marquette  6796117.0
2  Boston University        NaN
3      Georgia State  1148640.0
4                NaN  5000000.0

In [130]:
nba = pd.read_csv("data/nba.csv")