In [5]:
import pandas as pd

In [6]:
chicago = pd.read_csv('data/chicago.csv')
chicago['Department'] = chicago['Department'].astype('category')
print(chicago.head(3))

                Name    Position Title   Department Employee Annual Salary
0    AARON,  ELVIA J  WATER RATE TAKER  WATER MGMNT              $90744.00
1  AARON,  JEFFERY M    POLICE OFFICER       POLICE              $84450.00
2     AARON,  KARINA    POLICE OFFICER       POLICE              $84450.00

In [9]:
print(chicago['Name'].str.lower().head(3))

0      aaron,  elvia j
1    aaron,  jeffery m
2       aaron,  karina
Name: Name, dtype: object

In [11]:
# .title() capatalizes the first letter in ever word in the series. 
print(chicago['Name'].str.title().head(3))

0      Aaron,  Elvia J
1    Aaron,  Jeffery M
2       Aaron,  Karina
Name: Name, dtype: object

In [27]:
chicago = pd.read_csv('data/chicago.csv').dropna(how = 'all')
chicago['Department'] = chicago['Department'].astype('category')
print(chicago.head(3))

                Name    Position Title   Department Employee Annual Salary
0    AARON,  ELVIA J  WATER RATE TAKER  WATER MGMNT              $90744.00
1  AARON,  JEFFERY M    POLICE OFFICER       POLICE              $84450.00
2     AARON,  KARINA    POLICE OFFICER       POLICE              $84450.00

In [28]:
chicago['Department'].head(5)

0         WATER MGMNT
1              POLICE
2              POLICE
3    GENERAL SERVICES
4         WATER MGMNT
Name: Department, dtype: category
Categories (35, object): [ADMIN HEARNG, ANIMAL CONTRL, AVIATION, BOARD OF ELECTION, ..., STREETS & SAN, TRANSPORTN, TREASURER, WATER MGMNT]

In [29]:
chicago['Department'] = chicago['Department'].str.replace('MGMNT', 'MANAGEMENT')
print(chicago['Department'].head(3))

0    WATER MANAGEMENT
1              POLICE
2              POLICE
Name: Department, dtype: object

In [30]:
print(chicago['Employee Annual Salary'].head(3))

0    $90744.00
1    $84450.00
2    $84450.00
Name: Employee Annual Salary, dtype: object

In [32]:
chicago['Employee Annual Salary'].str.replace('$', "").astype(float).head(3)

0    90744.0
1    84450.0
2    84450.0
Name: Employee Annual Salary, dtype: float64

In [33]:
chicago = pd.read_csv('data/chicago.csv').dropna(how = 'all')
chicago['Department'] = chicago['Department'].astype('category')

In [36]:
# Change it to lower to standardize it and make it easier to search.
mask = chicago['Position Title'].str.lower().str.contains('water') # returns t or f if the string is found
print(chicago[mask].head(3))

                   Name                      Position Title   Department  \
0       AARON,  ELVIA J                    WATER RATE TAKER  WATER MGMNT
554  ALUISE,  VINCENT G  FOREMAN OF WATER PIPE CONSTRUCTION  WATER MGMNT
671     ANDER,  PERRY A                    WATER CHEMIST II  WATER MGMNT

    Employee Annual Salary
0                $90744.00
554             $102440.00
671              $82044.00

In [38]:
chicago['Position Title'].str.lower().str.startswith('water').head(5)

0     True
1    False
2    False
3    False
4    False
Name: Position Title, dtype: bool

In [41]:
print(chicago[chicago['Position Title'].str.lower().str.startswith('water')].head(5))

                    Name    Position Title   Department Employee Annual Salary
0        AARON,  ELVIA J  WATER RATE TAKER  WATER MGMNT              $90744.00
671      ANDER,  PERRY A  WATER CHEMIST II  WATER MGMNT              $82044.00
1054    ASHLEY,  KARMA T  WATER CHEMIST II  WATER MGMNT              $82044.00
1079   ATKINS,  JOANNA M  WATER CHEMIST II  WATER MGMNT              $82044.00
1181  AZEEM,  MOHAMMED A  WATER CHEMIST II  WATER MGMNT              $53172.00

In [43]:
mask = chicago['Position Title'].str.lower().str.endswith('ist')
print(chicago[mask].head(5))

                    Name                        Position Title  \
184       AFROZ,  NAYYAR                          PSYCHIATRIST
308     ALARCON,  LUIS J            LOAN PROCESSING SPECIALIST
422     ALLAIN,  CAROLYN  SENIOR TELECOMMUNICATIONS SPECIALIST
472       ALLEN,  ROBERT                             MACHINIST
705  ANDERSON,  EDWARD M             SR PROCUREMENT SPECIALIST

                Department Employee Annual Salary
184                 HEALTH              $99840.00
308  COMMUNITY DEVELOPMENT              $81948.00
422                   DoIT              $89880.00
472            WATER MGMNT              $94328.00
705            PROCUREMENT              $91476.00

In [44]:
chicago = pd.read_csv('data/chicago.csv').dropna(how = 'all')
chicago['Department'] = chicago['Department'].astype('category')

In [45]:
'       hello          '.lstrip()

'hello          '

In [46]:
'hello      '.rstrip()

'hello'

In [47]:
"     hello   ".strip()

'hello'

In [48]:
chicago['Name'].head(5)

0        AARON,  ELVIA J
1      AARON,  JEFFERY M
2         AARON,  KARINA
3    AARON,  KIMBERLEI R
4    ABAD JR,  VICENTE M
Name: Name, dtype: object

In [50]:
chicago['Name'].str.strip().head(5)

0        AARON,  ELVIA J
1      AARON,  JEFFERY M
2         AARON,  KARINA
3    AARON,  KIMBERLEI R
4    ABAD JR,  VICENTE M
Name: Name, dtype: object

In [52]:
chicago = pd.read_csv('data/chicago.csv', index_col='Name').dropna(how = 'all')
chicago['Department'] = chicago['Department'].astype('category')
print(chicago.head(3))

                     Position Title   Department Employee Annual Salary
Name
AARON,  ELVIA J    WATER RATE TAKER  WATER MGMNT              $90744.00
AARON,  JEFFERY M    POLICE OFFICER       POLICE              $84450.00
AARON,  KARINA       POLICE OFFICER       POLICE              $84450.00

In [53]:
chicago.index

Index(['AARON,  ELVIA J', 'AARON,  JEFFERY M', 'AARON,  KARINA',
       'AARON,  KIMBERLEI R', 'ABAD JR,  VICENTE M', 'ABARCA,  ANABEL',
       'ABARCA,  EMMANUEL', 'ABASCAL,  REECE E', 'ABBASI,  CHRISTOPHER',
       'ABBATACOLA,  ROBERT J',
       ...
       'ZWIT,  JEFFREY J', 'ZWOLFER,  MATTHEW W', 'ZYCH,  MATEUSZ',
       'ZYDEK,  BRYAN', 'ZYGADLO,  JOHN P', 'ZYGADLO,  MICHAEL J',
       'ZYGOWICZ,  PETER J', 'ZYMANTAS,  MARK E', 'ZYRKOWSKI,  CARLO E',
       'ZYSKOWSKI,  DARIUSZ'],
      dtype='object', name='Name', length=32062)

In [57]:
chicago.index = chicago.index.str.strip().str.title()
print(chicago.head(3))

                     Position Title   Department Employee Annual Salary
Name
Aaron,  Elvia J    WATER RATE TAKER  WATER MGMNT              $90744.00
Aaron,  Jeffery M    POLICE OFFICER       POLICE              $84450.00
Aaron,  Karina       POLICE OFFICER       POLICE              $84450.00

In [61]:
chicago.columns = chicago.columns.str.upper()
print(chicago.head(3))

                     POSITION TITLE   DEPARTMENT EMPLOYEE ANNUAL SALARY
Name
Aaron,  Elvia J    WATER RATE TAKER  WATER MGMNT              $90744.00
Aaron,  Jeffery M    POLICE OFFICER       POLICE              $84450.00
Aaron,  Karina       POLICE OFFICER       POLICE              $84450.00

In [70]:
chicago = pd.read_csv('data/chicago.csv').dropna(how = 'all')
chicago['Department'] = chicago['Department'].astype('category')
print(chicago.head(3))

                Name    Position Title   Department Employee Annual Salary
0    AARON,  ELVIA J  WATER RATE TAKER  WATER MGMNT              $90744.00
1  AARON,  JEFFERY M    POLICE OFFICER       POLICE              $84450.00
2     AARON,  KARINA    POLICE OFFICER       POLICE              $84450.00

In [72]:
chicago['Name'].str.split(",").head(5)

0        [AARON,   ELVIA J]
1      [AARON,   JEFFERY M]
2         [AARON,   KARINA]
3    [AARON,   KIMBERLEI R]
4    [ABAD JR,   VICENTE M]
Name: Name, dtype: object